<% @artists.each do |artist| %>
  Name: <%= artist.name %>
   - Phone: <%= artist.phone %>
   - Email: <%= artist.email %>
   - Website: <%= artist.website %>
   - Parlour(s): <% artist.parlour_id.each do |parlour| %>
   <ul>
     <li><%= parlour.name %></li>
   </ul>
   <% end %>
<% end %>
